@keyframes fade{
    0%{
        opacity: 0;
        
    }
   
    100%{
        opacity: 1;
        
    }
}
@keyframes fadeup{
    0%{
       
        transform: translateY(1.1em)
    }
   
    100%{
        
        transform: translateY(0)
    }
}

.fade{
    display:inline-block;
    animation: fadeup 0.5s linear;
}
#letter{
    animation: fade 0.5s linear;
}